<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie buddies</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'Techblog/main.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
</head>

<body>
    <div class='banner'>
        <header>
            <nav class="nav">
                <a href=''>Techie buddies</a>
                <a href="{% url 'Blog:news' %}"> News</a>
                <a href=''>Community</a>
                <a href=''> Join Us</a>
                <a href=''>Sign Up</a>
                <a href=''>Log In</a>
            </nav>
            <div class='search-btn'>
                <input id='search' type='text' placeholder="Type text" />
                <a href='' id='search-click'><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
        </header>
        <div class="fixed-heading">
            <div class='moner-radio' ></div>
            <div class="front">
                <div class="front-wrapper">
                <div class='heading-text he1'>
                    <h1>Cool Features</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti exercitationem soluta,
                        adipisci necessitatibus quis.</p>
                </div>
                <div class='heading-text he2'>
                    <h1>Cool Features</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti exercitationem soluta,
                        adipisci necessitatibus quis.</p>
                </div>
                <div class='heading-text he3'>
                    <h1>Cool Features</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti exercitationem soluta,
                        adipisci necessitatibus quis.</p>
                </div>
                <div class='heading-text he4'>
                    <h1>Cool Features</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti exercitationem soluta,
                        adipisci necessitatibus quis.</p>
                </div>
            </div>
            </div>
            <img src="{% static 'Techblog\renameit.png'%}" width='600px' height='560px'/>
            <div id='scroll-bar'><div id='scroll-mover'></div></div>
        </div>
    </div>
    <script src="{%static 'Techblog\base.js'%}"></script>
</body>

</html>