*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display:flex;
    background-color: #282c34;
    color:aliceblue;
    padding:24px 15px;
}
.nav{
    color: aliceblue;
    display: flex;
    flex-grow: 6;
}
.search-btn{
    display: flex;
    flex-grow: 1;
}
#search{
    padding:0 18px;
    font-size: 18px;
    background-color: #282c34;
    border: none;
    color: aliceblue;
    caret-color: aliceblue;
    border-bottom: 2px solid aliceblue;
    outline: none;
}
#search-click{
    padding:0 18px;
    font-size: 25px;
    color:aliceblue;
    text-decoration: none;
    background:#282c34;
    border: none;
    outline: none;
    cursor: pointer;
}
.nav a{
    text-align:center;
    text-decoration: none;
    color: aliceblue;
    display:inline-block;
    padding:0 18px;
    font-size: 25px;
}

#submit{
    position: relative;
    right:-50px;
    z-index: 5;
    opacity:0;
}